* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

.burger1 {
    width: 100%;
    text-align: center;
    padding: 0px;
}

.img {
    max-width: 98%;
    height: 100%;
    border: 3px solid red;
}


/* Add a black background color to the top navigation */

.menubalk {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.menubalk a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.menubalk a:hover {
    background-color: rgb(199, 71, 71);
    color: black;
}

.menubalk a.active {
    background-color: #aa0404;
    color: white;
}

.tosti {
    float: left;
    height: auto;
    width: 38vw;
    border-radius: 3%;
    margin-left: 5vw;
}

.nuggies {
    height: auto;
    width: 35vw;
    float: left;
    border-radius: 4vh;
    margin-left: 5vw;
    margin-bottom: 10px;
}

.video {
    width: 100%;
    text-align: center;
    padding: 0px;
}

h5 {
    color: white;
}

li {
    color: white;
}

h2 {
    color: white;
    margin-left: 10px;
    line-height: 50px;
    font-size: 200%;
}

.white-text {
    color: white;
}

html {
    background-color: rgb(71, 68, 68);
}

.indeximg {
    width: 50%;
    height: auto;
    position: fixed;
    right: 2px;
    top: auto;
    border-radius: 3vh;
    color: red;
}

.textleft {
    float: left;
    box-sizing: border-box;
    width: 50%;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #efefef;
    margin-top: auto;
    display: block;
    background-color: rgba(92, 92, 128, 0.295);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.img {
    vertical-align: middle;
}

.round {
    width: 37vw;
    height: 25vw;
    float: left;
    margin-left: 10vw;
    border-radius: 3vh;
    margin-bottom: 8vw;
}

.active {
    background-color: #717171;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.imagehomestyle {
    border-radius: 2vh;
    height: auto;
    width: 30vw;
    float: left;
    right: 2px;
    top: auto;
}

.topright {
    border-radius: 2vh;
    width: 40vw;
    float: left;
    box-sizing: border-box;
}

.block {
    display: block;
}

.zingerimage {
    border-radius: 3%;
    width: 35vw;
    margin-bottom: 4vh;
    height: auto;
    float: left;
    margin-left: 5vw;
}

.whopper {
    height: auto;
    width: 37vw;
    border-radius: 4vh;
    float: left;
    margin-bottom: 1vw;
    margin-left: 5vw;
}

.poggeries {
    float: left;
    padding: 0;
    margin: 0;
}

.patat {
    float: left;
    height: auto;
    width: 35vw;
    border-radius: 3vh;
    margin-left: 5vw;
    margin-bottom: 10px;
}

.bigmac {
    float: left;
    height: auto;
    width: 35vw;
    margin-left: 5vw;
    border-radius: 3vh;
}

.question {
    font-weight: 600;
}

.answers {
    margin-bottom: 20px;
}

#submit {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#submit:hover {
    background-color: #3a8;
}

.resencie {
    background-color: white;
    color: black;
    border-radius: 3vh;
    display: block;
}

.recensiecontainer {
    margin: 20px;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #474444;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: #474444;
}

*::-webkit-scrollbar-thumb {
    background-color: #08000a;
    border-radius: 10px;
    border: 3px solid #474444;
}

p {
    line-height: 23px;
    font-size: 113%;
}