.burger1 {
    width: 100%;
    text-align: center;
    padding: 0px;
}

.img {
    max-width: 98%;
    height: 100%;
    border: 3px solid red;
}


/* Add a black background color to the top navigation */

.menubalk {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.menubalk a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Comic Sans MS", "Comic Sans";
}


/* Change the color of links on hover */

.menubalk a:hover {
    background-color: rgb(199, 71, 71);
    color: black;
}


/* Add a color to the active/current link */

.menubalk a.active {
    background-color: #aa0404;
    color: white;
}

.tosti {
    max-width: 80%;
    height: 100%;
    border: 3px solid red;
}

.nuggies {
    max-width: auto;
    height: 600px;
    border: 3px solid red;
}

.video {
    width: 100%;
    text-align: center;
    padding: 0px;
}


/* dark mode compatible maken */

h5 {
    color: white
}

li {
    color: white
}

h2 {
    color: white
}

* {
    margin: 0;
}

.white-text {
    color: white
}

html {
    background-color: rgb(71, 68, 68)
}


/*lummers*/

.indeximg {
    width: 50%;
    height: auto;
    position: absolute;
    right: 2px;
    top: auto;
    border-radius: 3vh;
    color: red;
}

.textleft {
    position: absolute;
    left: 0px;
    top: auto;
    width: 50%;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans";
}

.page-footer {
    position: absolute;
    bottom: 0ch;
    width: 100%;
}

.feet {
    margin-top: 70vh;
    background-color: rgba(92, 92, 128, 0.295);
}

* {
    box-sizing: border-box;
}

* {
    margin: 0px;
}

.mySlides {
    display: none;
}

.img {
    vertical-align: middle;
}

.slideshow-container {
    position: absolute;
    height: 20vh;
    right: 2px;
    top: auto;
    border-radius: 3vh;
    color: red;
}

.round {
    width: 100vh;
    height: auto;
    border-radius: 3vh;
    color: red;
}

.active {
    background-color: #717171;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.imagehomestyle {
    border-radius: 2vh;
    height: auto;
    position: absolute;
    right: 2px;
    top: auto;
}

.topright {
    border-radius: 2vh;
    width: 50%;
    height: auto;
    position: absolute;
    right: 2px;
    top: auto;
}